beautifulsoup4==4.8.1
certifi==2022.12.7
chardet==3.0.4
config==0.4.2
dj-database-url==0.5.0
Django==1.11
django-bootstrap4==1.0.1
django-heroku==0.3.1
gunicorn==20.0.0
idna==2.8
Pillow==6.2.1
psycopg2==2.7.5
psycopg2-binary==2.8.4
python-dateutil==2.8.1
python-decouple==3.1
pytz==2019.3
pyuploadcare==2.6.0
requests==2.22.0
six==1.13.0
soupsieve==1.9.5
urllib3==1.25.7
whitenoise==4.1.4
