{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>

    {% if title %}
    <title> la galerie photo - {{title}} </title>
    {% else %}
    <title> la galerie photo </title>
    {% endif  %}

    {% block styles %}
        {% bootstrap_css %}
       <link href="https://fonts.googleapis.com/css?family=Dosis|Lora:400i|Marck+Script|Patrick+Hand&display=swap" rel="stylesheet">
       <link href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
       <link rel='stylesheet' href='{% static 'css/basephotos.css'%}'>
    {% endblock %}

  <!-- scripts -->
    <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>
        function copyToClipboard(element) {
            $(element).select();
            document.execCommand("copy");
            }
    </script>

</head> 

<body>
    {% include 'navbar.html' %}

    {% block content %}
    
    
     <div class='container'>
        <h1 class='text-center'> Ma Galerie </h1>
        <div class='row'>
        {% for photo in photos %}
            <div class='col-xs-3 col-sm-3 col-md-3 col-lg-3'>
                <img src='{{ photo.image.cdn_url }}' class='img-thumbnail photo' alt='Image'data-toggle="modal" data-target="#{{photo.id}}">
            </div>
        

        <!-- Modal -->
        <div class="modal fade" id="{{photo.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLongTitle">{{photo.name}} </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
               
            <img src='{{photo.image.cdn_url}}' class="img-responsive" width=100% height=100% alt="Image">
                <p>Category: {{photo.category}}</p>
                <p>Location: {{photo.location}}</p>
                <p>Posted on: {{photo.post_date}}</p>
            </div>

            <div class='row form-group justify-content-center'>

               <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 padding-1">
                <input id="{{photo.id}}-url"  class="form-control input-md responsive" type="text" value="{{photo.image.cdn_url}}">
              </div>
             <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 padding-1">
                <button class="btn btn-info" onclick="copyToClipboard('#{{photo.id}}-url')">Copy</button>
              </div>
            </div>

            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Ferme</button>
            </div>
            </div>
        </div>
        </div>

        {% endfor %}

        </div>
    
    </div>
  

    {% endblock %}

   {% block scripts %}
    {% bootstrap_javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

    {% endblock %}

</body>
</html>