{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>

    {% if title %}
    <title> photo gallery - {{title}} </title>
    {% else %}
    <title> photo gallery </title>
    {% endif  %}

    {% block styles %}
        {% bootstrap_css %}
       <link href="https://fonts.googleapis.com/css?family=Dosis|Lora:400i|Marck+Script|Patrick+Hand&display=swap" rel="stylesheet">
        <link rel='stylesheet' href='{% static 'css/basephotos.css'%}'>
    {% endblock %}
</head> 

<body>
    {% include 'navbar.html' %}

    {% block content %}
    
    
     <div class='container'>
        <h1 class='text-center'> Photo gallery for {{date|date:"l d-F Y"}}</h1>
        <div class='row d-inline-flex'>
        {% for photo in photos %}
            <div class='col-xs-3 col-sm-3 col-md-3 col-lg-3'>
                <img src='{{ photo.image.url }}' class='img-thumbnail photo' alt='Image'>
            </div>
        {% endfor %}

        </div>
    </div>
  

    {% endblock %}

    {% block scripts %}
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    {% bootstrap_javascript %}
    {% endblock %}
</body>
</html>