{% extends 'all-photos/base.html' %}

{% block content %}

{{block.super}}

<head>
    <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>
        function copyToClipboard(element) {
            $(element).select();
            document.execCommand("copy");
            }
    </script>
</head>

{% endblock %}