{%extends 'all-photos/base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if photos%}
      <h3>Found {{ photos|length }} photo(s) of searched term "{{message}}"</h3>
    {% else %}
      <h3> Found 0 photos for the search-term "{{message}}"</h3>
    {% endif %}

  </div>

  <div class="row">

  {% if photos %}
    {% for photo in photos %}
   <div class='col-xs-3 col-sm-3 col-md-3 col-lg-3'>
                <img src='{{ photo.image.cdn_url }}' class='img-thumbnail photo' alt='Image'data-toggle="modal" data-target="#{{photo.id}}">
            </div>
        

        <!-- Modal -->
        <div class="modal fade" id="{{photo.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLongTitle">{{photo.name}} </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
             
            <img src='{{photo.image.cdn_url}}' class="img-responsive" width=100% height=100% alt="Image">
               <p>Category: {{photo.category}}</p>
                <p>Location: {{photo.location}}</p>
                <p>Posted on: {{photo.post_date}}</p>

            </div>
             
               <div class='row form-group justify-content-center'>

               <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 padding-1">
                <input id="{{photo.id}}-url"  class="form-control input-md responsive" type="text" value="{{photo.image.cdn_url}}">
              </div>
             <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 padding-1">
                <button class="btn btn-info" onclick="copyToClipboard('#{{photo.id}}-url')">Copy</button>
              </div>
            </div>

            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Ferme</button>
            </div>
            </div>
        </div>
        </div>










    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}