<!DOCTYPE html>
<html lang='en'>
<head>

<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>

</head>

<body>
<nav class='navbar navbar-dark bg-dark'>
    <div class='container'>

        <div class='navbar-header'>
            <a class='navbar-brand' href='{% url 'home'%}'> 
la galerie photo</a>
        </div>


         <div class="dropdown">
    <button type="button" class="btn btn-secondary text-light dropdown-toggle" data-toggle="dropdown">
      Images by Location
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{% url 'search_by_location' 'Toronto'%}">Toronto</a>
      <a class="dropdown-item" href="{% url 'search_by_location' 'Sydney'%}">Sydney</a>
      <a class="dropdown-item" href="{% url 'search_by_location' 'Miami'%}">Miami</a>
      <a class="dropdown-item" href="{% url 'search_by_location' 'Townsville'%}">Townsville</a>


    </div>
  </div>








              <!-- Adding a search form  -->
      <div class="col-sm-4 col-md-4 navbar-right">

        <form class="navbar-form" role="search" action="{% url 'search_results' %}">

          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Image by Category" name="image">
            <div class="input-group-btn">
              <button class="btn btn-secondary" type="submit"><i class="glyphicon glyphicon-search"></i> Search</button>
            </div>
         </div>

        </form>
      </div>

    </div>
</nav>

</body>
</html>